{% extends 'base.html' %}{% load static %}
{%block type%}Anime{%endblock%}
{%block link%}{% url 'aurora' %}{%endblock%}
{%block link2%}{% url 'aurora' %}{%endblock%}
{%block link3%}{% url 'aurora' %}{%endblock%}

<!--make card like the manga and anime card but with less info for the anime recommendation page-->
{%block content%}
<link rel="stylesheet" href="{% static 'css/anime_recommendations.css' %}">
<center> <h1 class="heading">Recommendations</h1> </center>
<div class="anime-list-grid">
  {% for anime in anime_api_data %}
  <div class="card">
    {% url 'anime-info-page' anime.mal_id|urlencode anime.default_title|urlencode as anime_url %}
    <a class="card-link" href="{{ anime_url }}">{{ name }}
      <div class="img-container">
        <img class="anime-img" src="{{anime.img}}" alt="">
      </div>
    </a>
      <div class="info-grid">
        <a class="card-link" href="{{ anime_url }}">{{ name }}
          <div class="title">
            <span class="name">{{anime.default_title}}</span>
          </div>
        </a>
        <div class="bottom">
          <div class="icons-container">
            {%if request.user.is_authenticated %}
              <button id="liked-{{ anime.mal_id }}" class="liked-btn" onclick="like({{ anime.mal_id }}, '{{anime.type}}')">
                <img id="likedImg-{{ anime.mal_id }}" class="liked" src="{% if anime.like %}{% static 'icons/heart-fill.svg' %}{% else %}{% static 'icons/heart.svg' %}{%endif%}" alt="" />
              </button>

              <button id="later-{{ anime.mal_id }}" class="watch-later-btn" onclick="later({{ anime.mal_id }}, '{{anime.type}}')">
                <img id="laterImg-{{ anime.mal_id }}" class="book-mark" src="{% if anime.later %}{% static 'icons/bookmark-plus-fill.svg' %}{%else%}{% static 'icons/bookmark-plus.svg' %}{%endif%}" alt="" />
              </button>
            {%endif%}
            </div>
        </div>
      </div>
  </div>
  {% endfor %}
  <script>
  function later(mal_id, type) {
    console.log("Adding to watch later:", mal_id);
    var csrftoken = getCookie('csrftoken');
    // Send mal_id to your Django view to add to watch later list
    $.ajax({
      url: "{% url 'aurora' %}",
      type: "POST",
      headers: { "X-CSRFToken": csrftoken },
      data: {'mal_id': mal_id, 'status': 'later', 'type': type},
      success: function(response) {
        let image = document.getElementById(`laterImg-${mal_id}`);
        if (response.later) {
          image.src = '/static/icons/bookmark-plus-fill.svg';
        }
        else {
          image.src = '/static/icons/bookmark-plus.svg';
        }
        // Handle success response if needed
      },
      error: function(xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText);
        // Handle error if needed
      }
    });
  }

  function like(mal_id, type) {
    console.log("Liking:", mal_id);
    var csrftoken = getCookie('csrftoken');
    // Send mal_id to your Django view to like the anime
    $.ajax({
      url: "{% url 'aurora' %}",
      type: "POST",
      headers: { "X-CSRFToken": csrftoken },
      data: {'mal_id': mal_id, 'status': 'like', 'type': type},
      success: function(response) {
        console.log(response);
        let image = document.getElementById(`likedImg-${mal_id}`);
        if (response.like) {
          console.log(response);
            image.src = '/static/icons/heart-fill.svg';
          }
          else {
            image.src = '/static/icons/heart.svg';
          }
          // Handle success response if needed
        },
        error: function(xhr, errmsg, err) {
          console.log(xhr.status + ": " + xhr.responseText);
          // Handle error if needed
        }
    });
  }

  // Function to get CSRF cookie
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
</div>
{%endblock%}